body {
	max-width: 1920px;
	margin: auto;
}

* {
	font-family: 'Inter';
	font-style: normal;
}

.top-header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {

	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;

}

#about-me {
	flex: 2
}

.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}

.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
}

#about-me p {
	width: 80%;
	font-size: 14px;
}





#AaronConcert {
	background-image: url('./images/gallery/concerts/aaron-paul-wnX-fXzB6Cw-unsplash.webp');
}

#AliMorshedlou {
	background-image: url('./images/gallery/entreprise/ali-morshedlou-WMD64tMfc4k-unsplash.webp');
}

#jasonGoodman {
	background-image: url('./images/gallery/entreprise/jason-goodman-tHO1_OuKbg0-unsplash.webp');
}

#AnnahBusing {
	background-image: url('./images/gallery/mariage/hannah-busing-RvF2R_qMpRk-unsplash.webp');
}

#AdeTunjing {
	background-image: url('./images/gallery/portraits/ade-tunji-rVkhWWZFAtQ-unsplash.webp');
}

#JacobOwens {
	background-image: url('./images/gallery/mariage/jakob-owens-SiniLJkXhMc-unsplash.webp');
}

#NinoVanPrattenburg {
	background-image: url('./images/gallery/portraits/nino-van-prattenburg--443cl1uR_8-unsplash.webp');
}

#austinNeil {
	background-image: url('./images/gallery/concerts/austin-neill-hgO1wFPXl3I-unsplash.webp');
}

#matheusCamposFelipe {
	background-image: url('./images/gallery/entreprise/mateus-campos-felipe-Fsgzm8N0hIY-unsplash.webp');
}

.title {
	text-align: center;
	padding-block: 2em;
}

.gallery .nav {
	justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #BEB45A;
	border-radius: 0;
}

.nav-pills .nav-link {
	color: #000
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}

.item-column::after {
	content: "";
	display: block;
	padding-bottom: 100%;

}

.mg-prev,
.mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}

.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;

}

.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8;
	position: relative;
}

#services .container::before {
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding: 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}

.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.form-container {
	flex: 2;

}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

@media all and (max-width: 1180px) {


	#about,
	#contact .container {
		align-items: center;
	}

	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}

	#about-me h6,
	#about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about {
		flex-direction: column;

	}


	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.about-me__title {
		text-align: center;
		margin-top: 1em;
	}

	#services .container {
		flex-direction: column;
	}

	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}

	.service__description {
		margin-bottom: 1em;
	}

	#services .container::before {
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}

	#contact .picture.right {
		margin-top: 1em;
	}

	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}

	.top-header .nav,
	.top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}

	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}

	.picture.left::before,
	.picture.right::before {
		height: 150px;
	}

	#services .container {
		align-items: center;
	}

	.service {
		max-width: 90%;
	}

	#about,
	#contact {
		padding-inline: 2em;
		padding-block: 2em;
	}

	form {
		width: 100%;
	}

}

.photoAbout {
	height: 100%;
	width: 100%;
}

.picture.right img {
	height: 342px;
	width: 342px;
	max-width: 100%;
	max-height: 100%;

}

.social-link img {
	height: 21px;
	width: 21px;
}

footer {
	padding: 10px 25px 10px 25px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	color: gray;
}


.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	padding-top: 20px;
	justify-content: space-around;


}

.gallery-item {
	width: 280px;
	height: 280px;
	background-size: cover;
	display: block;
	background-position: center center;
}

.selection-Gallerry {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: space-around;
	align-items: center;
}

.selection-Gallerry button {
	background-color: white;
	border: 0;
	padding: 10px 20px;
	border-radius: 5px;
}

.selection-Gallery button.active {
	background-color: yellow;
	color: #fff;
}

@media all and (max-width: 767px) {
	footer {
		align-items: center;
	}

	.gallery-item {
		width: 80%;
		height: 700px;
		background-size: cover;
	}

	#jasonGoodman {
		background-position: 60% center;
	}

	#matheusCamposFelipe {
		background-position: 60% center;
	}

	body {
		width: 100vw;
	}

	.gallery {
		width: 100%;
	}

	.top-header {
		max-width: 100%;
		margin: 0;
	}
}

.filter-btn.active {
	background-color: rgb(68, 63, 7);
	color: white;
}

.d-block.w-100 {
	width: 1380px;
	height: 740px;
	min-width: 100%;
}


.picture.right img {
	height: 320px;
	width: 320px;
}

@media all and (max-width: 1180px) {
	.d-block.w-100 {
		width: 1180px;
		height: 670px;
		min-width: 100%;
	}
}

@media all and (max-width: 720px) {
	.d-block.w-100 {
		width: 720px;
		height: 460px;
		min-width: 100%;
	}
}